nav li:hover {
    color: #ffffff;
}

#slider {
    padding-top: 8rem;
    background-color: rgb(254, 239, 206);
}

.slider-inner{
    position: relative;
    width: 100%;
    padding-bottom: 50%;
}

.slide-item{
    width: 0;
    position: absolute;
    left: 10%;
    transform: rotate(-180deg);
    transition: all 0.5s ease-in-out ;
}
.active {
    width: 80%;
    transform: rotate(0deg);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

#description {
    width: 100%;
    font-size: 1.8rem;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2b4161;
    text-decoration: underline;
}

.block_chapitres {
    padding: 2% 0;
    margin: 2% 0;
    border: #2b4161 thick double ;
}