#slider{
    margin-top: 8rem;
}

.slider-inner{
    position: relative;
    width: 100%;
    padding-bottom: 50%;
}

.slide-item{
    width: 80%;
    position: absolute;
    left: -3000px;
}
.active {
    left: 10%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}